body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ffffff; /* Fundo branco */
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #323643; /* Cinza escuro */
    font-size: 2.5em;
    font-weight: bold;
}

.form-container {
    max-width: 800px; /* Largura máxima do formulário */
    margin: 0 auto; /* Centraliza o formulário */
    background-color: #93deff; /* Azul claro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.table-container {
    max-width: 800px;
    margin: 20px auto; /* Centraliza a tabela */
    background: #ffffff; /* Fundo branco para a tabela */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra mais suave */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #606470; /* Cinza médio */
    font-size: 1em;
}

th {
    background-color: #323643; /* Cinza escuro */
    color: white; /* Texto em branco no cabeçalho */
    font-weight: bold;
}

/* Botões de Atualizar e Excluir */
.button-update {
    background-color: #28a745; /* Verde */
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9em;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

.button-update:hover {
    background-color: #218838; /* Verde mais escuro */
}

.button-delete {
    background-color: #dc3545; /* Vermelho */
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9em;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

.button-delete:hover {
    background-color: #c82333; /* Vermelho mais escuro */
}

/* Mantém o restante do CSS */
